<div class="parent">
    <div class="child">
        <div class="wrapper">
            <div class="logo">
                <img src="../../assets/images/bank.png" alt="">
            </div>
            <div class="text-center mt-4 name">
                Deposit
            </div>
            <form class="p-3 mt-3">
               
                <div class="form-field d-flex align-items-center">
                    <input [(ngModel)]="acno" type="text" name="Account number" id="reg_acno" placeholder="Account number">
                </div>
                <div class="form-field d-flex align-items-center">
                    <input [(ngModel)]="pswd" type="password" name="password" id="reg_pswd" placeholder="Password">
                </div>
                <div class="form-field d-flex align-items-center">
                    <input  [(ngModel)]="amount"  type="text" name="amount" id="amount" placeholder="Amount">
                </div>
                <button class="btn mt-3" (click)="deposit()" type="button">Deposit</button>
            </form>
            <!-- <div class="text-center fs-6">
                <a href="#">Forget password?</a> or
                    <a routerLink="">Deposit</a> 
            </div> -->
        </div>
    </div>
    <div class="child">
        <div class="wrapper">
            <div class="logo">
                <img src="../../assets/images/bank.png" alt="">
            </div>
            <div class="text-center mt-4 name">
                Withdraw
            </div>
            <form class="p-3 mt-3">
               
                <div class="form-field d-flex align-items-center">
                    <input [(ngModel)]="acno1" type="text" name="Account number" id="reg_acno" placeholder="Account number">
                </div>
                <div class="form-field d-flex align-items-center">
                    <input [(ngModel)]="pswd1" type="password" name="password" id="reg_pswd" placeholder="Password">
                </div>
                <div class="form-field d-flex align-items-center">
                    <input  [(ngModel)]="amount1"  type="text" name="amount" id="amount" placeholder="Amount">
                </div>
                <button class="btn mt-3" (click)="withdraw()" type="button">Withdraw</button>
            </form>
            <!-- <div class="text-center fs-6">
                <a href="#">Forget password?</a> or
                    <a routerLink="">Withdraw</a>  
            </div>-->
        </div>
    </div>
</div>